In [1]:
# import os
# os.environ['PYSPARK_SUBMIT_ARGS'] = '\
# --packages org.apache.spark:spark-streaming-kafka-0-8_2.11:2.2.0,com.datastax.spark:spark-cassandra-connector_2.11:2.0.1 \
# pyspark-shell'

In [2]:
# #    Spark
# from pyspark import SparkConf, SparkContext
# #    Spark Streaming
# from pyspark.streaming import StreamingContext
# #    Kafka
# from pyspark.streaming.kafka import KafkaUtils

# from pyspark.sql import SQLContext

# #    json parsing
# import json

In [3]:
# conf = SparkConf(True).setMaster("local[*]").setAppName("jupyter pyspark").set("spark.cassandra.connection.host", "cassandra")
# sc = SparkContext(conf=conf)
# #sc = SparkContext(appName= "jupyter pyspark")

# sc.setLogLevel("WARN")
# sqlContext = SQLContext(sc)

In [4]:
#sc.stop()

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import pandas.tseries.offsets as offsets
%matplotlib inline

In [6]:
sf_data = pd.read_csv("./raw_data/sanfrancisco.csv")

In [7]:
raw_columns = list(sf_data)
raw_columns

['dt',
 'dt_iso',
 'city_id',
 'city_name',
 'lat',
 'lon',
 'temp',
 'temp_min',
 'temp_max',
 'pressure',
 'sea_level',
 'grnd_level',
 'humidity',
 'wind_speed',
 'wind_deg',
 'rain_1h',
 'rain_3h',
 'rain_24h',
 'rain_today',
 'snow_1h',
 'snow_3h',
 'snow_24h',
 'snow_today',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_icon']

In [8]:
unused_columns = ['snow_1h', 'snow_24h', 'rain_24h', 'rain_1h', 'snow_3h', 'rain_today', 'snow_today', 'weather_icon', 'weather_id', 'sea_level', 'grnd_level', 'lat', 'lon', 'city_id', 'city_name']

In [9]:
columns = list(set(raw_columns) - set(unused_columns))

In [10]:
sf_data2 = sf_data[columns]

In [11]:
sf_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38415 entries, 0 to 38414
Data columns (total 14 columns):
weather_id             38415 non-null int64
wind_speed             38415 non-null int64
dt                     38415 non-null int64
rain_3h                1355 non-null float64
temp_min               38415 non-null float64
wind_deg               38415 non-null int64
clouds_all             38415 non-null int64
dt_iso                 38415 non-null object
temp_max               38415 non-null float64
pressure               38415 non-null int64
humidity               38415 non-null int64
weather_main           38415 non-null object
temp                   38415 non-null float64
weather_description    38415 non-null object
dtypes: float64(4), int64(7), object(3)
memory usage: 4.1+ MB

In [12]:
sf_data2['rain_3h']= sf_data2['rain_3h'].fillna(0)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
sf_data2.drop_duplicates('dt', inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

In [26]:
sf_data2['dt_datetime'] =  pd.to_datetime(sf_data2['dt_iso'], format='%Y-%m-%d %H:%M:%S +%f %Z')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
sf_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33442 entries, 0 to 38414
Data columns (total 15 columns):
weather_id             33442 non-null int64
wind_speed             33442 non-null int64
dt                     33442 non-null int64
rain_3h                33442 non-null float64
temp_min               33442 non-null float64
wind_deg               33442 non-null int64
clouds_all             33442 non-null int64
dt_iso                 33442 non-null object
temp_max               33442 non-null float64
pressure               33442 non-null int64
humidity               33442 non-null int64
weather_main           33442 non-null object
temp                   33442 non-null float64
weather_description    33442 non-null object
dt_datetime            33442 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(7), object(3)
memory usage: 4.1+ MB

In [42]:
int(pd.Timedelta(sf_data2['dt_datetime'].iloc[2] - sf_data2['dt_datetime'].iloc[1]).seconds/3600)

1

In [187]:
diff_columns = list(set(sf_data2.columns) - set(['dt', 'dt_iso']))
diff_columns
day_diff = 2
maximum_prev_index_diff = 2 *  24 
raw_datum = sf_data2.reset_index(drop=True).iloc[0:100]
raw_datum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
weather_id             100 non-null int64
wind_speed             100 non-null int64
dt                     100 non-null int64
rain_3h                100 non-null float64
temp_min               100 non-null float64
wind_deg               100 non-null int64
clouds_all             100 non-null int64
dt_iso                 100 non-null object
temp_max               100 non-null float64
pressure               100 non-null int64
humidity               100 non-null int64
weather_main           100 non-null object
temp                   100 non-null float64
weather_description    100 non-null object
dt_datetime            100 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(7), object(3)
memory usage: 11.8+ KB

In [188]:
def add_diff_datum():
    data = raw_datum.copy()
    data = data.apply(add_diff_days_data, axis=1)
    return data
sf_data3 = add_diff_datum()

In [183]:
def add_diff_days_data(current_data):    
    index = current_data.name

    if index == 0:
        return current_data
    prev_index_right = index - 1
    left_index = index - maximum_prev_index_diff if index - maximum_prev_index_diff > 0 else 0
       
    while left_index <= prev_index_right:
        current_data = add_diff_data(current_data, raw_datum.iloc[left_index])
        left_index += 1
    return current_data

In [159]:
def add_diff_data(current_data, prev_data):
    diff = int(pd.Timedelta(current_data['dt_datetime'] - prev_data['dt_datetime']).seconds/ 3600)
    if diff > 0 and diff < maximum_prev_index_diff:
        for diff_column in diff_columns:
            column_name = '{}_{}_ago'.format(diff_column, diff)
            current_data[column_name] = prev_data[diff_column]
    return current_data

In [215]:
[1,2] + [3]

[1, 2, 3]

In [ ]:
#create 2 d diff data
# change category data to numercial dataa
# explore data
# apply machine learning algorithm

In [225]:
def convert_category_to_numercial_data(raw_data):
    weather_description_columns = list(raw_data['weather_description'])
    weather_main_columns = list(raw_data['weather_main'])
    
    data = raw_data.copy()
    data = data.apply(transform_categorical_data, args=(weather_description_columns, weather_main_columns), axis=1)
    data = data.apply(transform_datetime, axis=1)
    
    
    new_data = data.drop(unused_columns, axis=1)
    return new_data
    
def transform_datetime(current_data):
    for month in range(1, 12):
        current_data['month_{}'.format(month)] = 1 if current_data['dt_datetime'].month == month else 0
       
    current_data['year'] =  current_data['dt_datetime'].year
    current_data['dayofweek'] = current_data['dt_datetime'].dayofweek
    current_data['dayofyear'] = current_data['dt_datetime'].dayofyear
    current_data['hourofday'] = current_data['dt_datetime'].hour
    return current_data

def transform_categorical_data(current_data,weather_description_columns, weather_main_columns):
    
    for column in weather_description_columns:
   
        current_data[column] = 1 if current_data['weather_description'] == column else 0
    for column in weather_main_columns:
        current_data[column] = 1 if current_data['weather_main'] == column else 0
    return current_data

In [226]:
sf_data2_b = convert_category_to_numercial_data(sf_data2.iloc[0:100])
sf_data2_b

,wind_speed,dt,rain_3h,temp_min,wind_deg,clouds_all,temp_max,pressure,humidity,temp,...,month_6,month_7,month_8,month_9,month_10,month_11,year,dayofweek,dayofyear,hourofday
0,2,1349096400,0.0,282.15,150,0,301.15,1009,88,289.48,...,0,0,0,0,1,0,2012,0,275,13
2,0,1349186400,0.0,282.15,0,1,301.15,1015,63,289.13,...,0,0,0,0,1,0,2012,1,276,14
3,0,1349190000,0.0,283.15,0,1,302.15,1016,51,290.73,...,0,0,0,0,1,0,2012,1,276,15
4,4,1349193600,0.0,287.15,190,0,307.15,1011,56,293.02,...,0,0,0,0,1,0,2012,1,276,16
5,3,1349197200,0.0,290.15,140,0,307.15,1001,94,296.18,...,0,0,0,0,1,0,2012,1,276,17
6,4,1349200800,0.0,293.71,230,40,305.93,1009,70,299.66,...,0,0,0,0,1,0,2012,1,276,18
7,6,1349204400,0.0,293.15,170,90,308.15,1000,83,300.03,...,0,0,0,0,1,0,2012,1,276,19
8,3,1349208000,0.0,293.15,250,0,308.71,1007,75,301.07,...,0,0,0,0,1,0,2012,1,276,20
9,3,1349211600,0.0,295.15,260,75,308.71,1007,75,302.29,...,0,0,0,0,1,0,2012,1,276,21
10,6,1349215200,0.0,296.15,300,1,309.26,1013,18,304.70,...,0,0,0,0,1,0,2012,1,276,22
11,7,1349218800,0.0,296.15,280,1,310.37,1013,11,304.86,...,0,0,0,0,1,0,2012,1,276,23
12,7,1349222400,0.0,294.15,280,1,310.15,1012,15,304.08,...,0,0,0,0,1,0,2012,2,277,0
13,7,1349226000,0.0,294.15,280,1,308.15,1012,18,302.69,...,0,0,0,0,1,0,2012,2,277,1
14,8,1349229600,0.0,293.15,270,1,304.26,1012,25,300.52,...,0,0,0,0,1,0,2012,2,277,2
15,5,1349233200,0.0,293.15,290,1,302.59,1012,31,298.56,...,0,0,0,0,1,0,2012,2,277,3
16,4,1349236800,0.0,294.15,280,1,302.15,1013,27,297.94,...,0,0,0,0,1,0,2012,2,277,4
17,2,1349240400,0.0,294.15,250,1,302.15,1013,31,296.95,...,0,0,0,0,1,0,2012,2,277,5
18,2,1349244000,0.0,287.15,270,0,302.15,1012,28,294.14,...,0,0,0,0,1,0,2012,2,277,6
19,1,1349247600,0.0,286.15,0,75,302.15,1009,89,293.46,...,0,0,0,0,1,0,2012,2,277,7
20,4,1349251200,0.0,286.15,210,75,302.15,1009,89,293.32,...,0,0,0,0,1,0,2012,2,277,8
21,0,1349254800,0.0,284.15,0,1,302.15,1012,68,292.39,...,0,0,0,0,1,0,2012,2,277,9
22,0,1349258400,0.0,282.15,0,1,302.15,1012,48,291.96,...,0,0,0,0,1,0,2012,2,277,10
23,0,1349262000,0.0,282.15,0,75,302.15,1009,83,291.52,...,0,0,0,0,1,0,2012,2,277,11
24,0,1349269200,0.0,283.15,0,1,302.15,1011,42,290.75,...,0,0,0,0,1,0,2012,2,277,13
25,0,1349272800,0.0,283.15,0,0,303.15,1011,48,290.26,...,0,0,0,0,1,0,2012,2,277,14
26,0,1349283600,0.0,288.15,0,0,304.15,1012,64,297.49,...,0,0,0,0,1,0,2012,2,277,17
27,2,1349287200,0.0,290.15,20,1,305.15,1012,60,299.48,...,0,0,0,0,1,0,2012,2,277,18
28,2,1349290800,0.0,290.15,30,1,307.04,1011,56,301.24,...,0,0,0,0,1,0,2012,2,277,19
29,3,1349294400,0.0,289.15,10,1,307.59,1011,50,302.04,...,0,0,0,0,1,0,2012,2,277,20
30,2,1349298000,0.0,290.15,30,1,308.71,1010,41,303.25,...,0,0,0,0,1,0,2012,2,277,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,1349456400,0.0,287.04,220,1,296.15,1026,60,290.09,...,0,0,0,0,1,0,2012,4,279,17
72,2,1349460000,0.0,288.15,310,75,304.15,1009,74,292.13,...,0,0,0,0,1,0,2012,4,279,18
73,2,1349463600,0.0,288.71,270,1,304.15,1024,50,293.26,...,0,0,0,0,1,0,2012,4,279,19
74,4,1349467200,0.0,288.71,360,75,304.15,1009,74,294.02,...,0,0,0,0,1,0,2012,4,279,20
75,0,1349470800,0.0,288.71,0,75,304.15,1023,47,294.30,...,0,0,0,0,1,0,2012,4,279,21
76,3,1349474400,0.0,288.15,260,4,303.15,1008,79,293.81,...,0,0,0,0,1,0,2012,4,279,22
77,1,1349478000,0.0,287.59,210,4,303.15,1023,50,293.45,...,0,0,0,0,1,0,2012,4,279,23
78,7,1349481600,0.0,287.59,290,4,303.15,1019,63,291.75,...,0,0,0,0,1,0,2012,5,280,0
79,6,1349485200,0.0,286.48,270,4,302.15,1019,67,290.32,...,0,0,0,0,1,0,2012,5,280,1
80,0,1349488800,0.0,286.48,0,1,301.15,1023,100,289.55,...,0,0,0,0,1,0,2012,5,280,2
81,5,1349492400,0.0,285.93,280,4,299.15,1020,72,288.53,...,0,0,0,0,1,0,2012,5,280,3
82,6,1349496000,0.0,285.93,270,4,300.15,1020,77,288.23,...,0,0,0,0,1,0,2012,5,280,4
84,3,1349499600,0.0,285.93,240,4,299.15,1021,72,287.96,...,0,0,0,0,1,0,2012,5,280,5
86,4,1349503200,0.0,285.93,260,92,299.15,1021,77,287.93,...,0,0,0,0,1,0,2012,5,280,6
87,0,1349506800,0.0,285.15,0,92,299.15,1010,94,287.85,...,0,0,0,0,1,0,2012,5,280,7
88,0,1349514000,0.0,285.15,0,92,299.15,1010,88,287.81,...,0,0,0,0,1,0,2012,5,280,9
89,3,1349517600,0.0,285.15,250,92,299.15,1021,77,287.59,...,0,0,0,0,1,0,2012,5,280,10
90,5,1349521200,0.0,285.15,260,92,299.15,1021,72,287.82,...,0,0,0,0,1,0,2012,5,280,11
91,0,1349524800,0.0,285.15,0,94,298.15,1023,100,287.85,...,0,0,0,0,1,0,2012,5,280,12
92,2,1349528400,0.0,285.15,120,94,301.15,1010,78,288.18,...,0,0,0,0,1,0,2012,5,280,13
93,2,1349532000,0.0,285.37,120,94,302.15,1011,74,288.41,...,0,0,0,0,1,0,2012,5,280,14
94,0,1349535600,0.0,285.37,0,40,302.15,1021,77,288.70,...,0,0,0,0,1,0,2012,5,280,15
95,2,1349539200,0.0,285.37,150,40,296.15,1021,77,289.54,...,0,0,0,0,1,0,2012,5,280,16
96,2,1349542800,0.0,287.04,80,40,298.15,1021,68,291.24,...,0,0,0,0,1,0,2012,5,280,17
97,2,1349546400,0.0,288.71,100,40,302.15,1021,63,292.70,...,0,0,0,0,1,0,2012,5,280,18
98,3,1349550000,0.0,289.82,350,75,303.15,1021,63,293.61,...,0,0,0,0,1,0,2012,5,280,19
99,3,1349553600,0.0,290.93,340,75,299.15,1020,56,294.09,...,0,0,0,0,1,0,2012,5,280,20
100,8,1349557200,0.0,290.37,290,75,300.15,1020,53,294.32,...,0,0,0,0,1,0,2012,5,280,21
101,5,1349560800,0.0,289.82,270,75,302.15,1020,46,294.68,...,0,0,0,0,1,0,2012,5,280,22
102,6,1349564400,0.0,289.26,270,75,301.15,1019,60,293.76,...,0,0,0,0,1,0,2012,5,280,23

In [227]:
sf_data2_b.columns

Index(['wind_speed', 'dt', 'rain_3h', 'temp_min', 'wind_deg', 'clouds_all',
       'temp_max', 'pressure', 'humidity', 'temp', 'light intensity drizzle',
       'sky is clear', 'haze', 'scattered clouds', 'overcast clouds',
       'broken clouds', 'mist', 'few clouds', 'fog', 'Drizzle', 'Clear',
       'Haze', 'Clouds', 'Mist', 'Fog', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'year', 'dayofweek', 'dayofyear', 'hourofday'],
      dtype='object')

In [ ]:
def